.header-container {
  display: flex;
  justify-content: space-between;
  .sort-and-filter {
    display: flex;
    gap: 30px;
    .input-group {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
