<form class="login-form" [formGroup]="loginForm()!" (ngSubmit)="login()">
  <h2 class="form-title">Login</h2>
  <div class="form-group w-full">
    <label for="email">Username</label>
    <input
      type="email"
      id="email"
      formControlName="username"
      pInputText
      class="w-full mt-2"
    />
  </div>
  <div class="form-group w-full">
    <label for="password">Password</label>
    <p-iconfield class="w-full">
      <input
        #inputPassword
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
      />
      <p-inputicon
        [styleClass]="!showPassword() ? 'pi pi-eye' : 'pi pi-eye-slash'"
        (click)="togglePassword()"
      />
    </p-iconfield>
  </div>
  <button
    type="submit"
    pButton
    class="login-button"
    [disabled]="loginForm()?.invalid"
  >
    Login
  </button>
  <div class="register">
    <div class="text">
      Need to create an account? <u (click)="changePageMode()">Sign Up</u>
    </div>
  </div>
</form>
