<div class="table-container">
  <app-table-header
    [enableFilter]="enableFilter()"
    [enableSearch]="enableSearch()"
    [enableSort]="enableSort()"
    [categoryFilterValues]="categoryFilterValues()"
    (searchKeyEvent)="emitSearchKey($event)"
    (categoryChanged)="emitCategory($event)"
  ></app-table-header>
  <p-table
    [lazy]="true"
    [columns]="cols()"
    [value]="data()"
    [loading]="loading()"
    [dataKey]="'_id'"
    [size]="'large'"
    styleClass="generic-table"
    [showInitialSortBadge]="true"
    [customSort]="true"
    (onSort)="onSort($event)"
    [(selection)]="selectedRows"
    [selectionMode]="'multiple'"
  >
    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track $index) {
        <th [pSortableColumn]="col.value">
          {{ col.header }}
          <p-sortIcon [field]="col.value" />
        </th>
        }
      </tr>
    </ng-template>
    <ng-template
      #body
      let-rowData
      let-columns="columns"
      let-rowIndex="rowIndex"
    >
      <tr (click)="onRowSelect(rowData)" style="cursor: pointer">
        @for (col of columns; track $index) {
        <td [class.align-right]="col.tableAlign === 'right'">
          <ng-container
            [ngTemplateOutlet]="
              rowTemplate() ? rowTemplate()! : defaultTdTemplate
            "
            [ngTemplateOutletContext]="{
              rowData: rowData,
              col: col,
              rowIndex: rowIndex
            }"
          ></ng-container>
        </td>
        <ng-template #defaultTdTemplate>
          <td>
            {{ rowData[col.value] }}
          </td>
        </ng-template>
        }
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="firstRowIndex()"
    [rows]="rows()"
    [totalRecords]="total()"
    [rowsPerPageOptions]="[10, 20, 30]"
    [pageLinkSize]="3"
    #paginator
  />
</div>
