@use "variables" as vars;

::ng-deep {
  .p-datatable-table-container {
    margin-top: 30px;
  }
}

.table-container {
  background-color: vars.$color-white;
  padding: 40px;
  border-radius: 10px;
}
