<form [formGroup]="passwordForm()">
  <div class="form-group w-full">
    <label for="password">Old Password</label>
    <p-iconfield class="w-full">
      <input
        #inputPassword
        type="password"
        pInputText
        class="w-full"
        [ngClass]="{ 'border-red': oldPasswordIsCorrect() === false }"
        formControlName="oldPassword"
      />
      <p-inputicon
        [styleClass]="!showPassword() ? 'pi pi-eye' : 'pi pi-eye-slash'"
        (click)="togglePassword()"
      />
    </p-iconfield>
    @if (oldPasswordIsCorrect() !== undefined) { @if (oldPasswordIsCorrect()) {
    <div class="correct mt-2">
      Password is Correct <i class="pi pi-check ml-2"></i>
    </div>
    } @else {
    <div class="incorrect mt-2">
      Password is Incorrect <i class="pi pi-times"></i>
    </div>
    } }
  </div>
  <div class="form-group w-full">
    <label for="password">New Password</label>
    <p-iconfield class="w-full">
      <input
        #inputNewPassword
        type="password"
        pInputText
        class="w-full"
        formControlName="newPassword"
      />
      <p-inputicon
        [styleClass]="!showPassword() ? 'pi pi-eye' : 'pi pi-eye-slash'"
        (click)="toggleNewPassword()"
      />
    </p-iconfield>
  </div>
  <button
    type="submit"
    pButton
    class="register-button"
    [disabled]="
      !!!oldPasswordIsCorrect() || !passwordForm().controls.newPassword.value
    "
    (click)="updatePassword()"
  >
    Update Password
  </button>
</form>
