@use "variables" as vars;

.form-group {
  margin-top: 15px;
  label {
    display: block;
    margin-bottom: 5px;
    color: vars.$color-label;
  }
}

.register-button {
  margin-top: 20px;
  background-color: vars.$color-button-background;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.border-red {
  border: 2px solid red !important;
}
