@use "variables" as vars;

.main-container {
  display: flex;
  background-color: vars.$color-page-background;
  height: 100vh;

  .content {
    padding: 40px;
    width: 100%;
    overflow-y: auto;
    max-height: 100vh;
  }
}
